<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <center>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{message}}</h3>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <form action="" method="POST">
                E-mail: <br>
                <input type="email" name="email"> <br><br>
                Password: <br>
                <input type="password" name="password1"> <br><br>
                Confirm password: <br>
                <input type="password" name="password2"> <br><br>
                <button>Sign-up</button>
            </form>
            <br>
            Already have an account? <a href="/">Login</a>
        </div>
    </center>
</body>
</html>